.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Adapta o espaço conforme necessário */
  }
  
  .logo-container img {
    max-width: 150px; /* Ajuste este valor para o tamanho desejado */
    height: auto;
  }


  